body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#homeNotLoggedIn{
  display: grid;
  grid-template: 1fr 3fr / 1fr 1fr 1fr 1fr 1fr;
  grid-area: 2/1/3/3;
}
.homeLoggedIn{
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr ;
  grid-area: 2/2/3/3;
  height: 100px;
}

#featureSlider{
  grid-column-start: 1;
  grid-column-end: 6; 
  border-radius: 25px;
}

#testimonial{
  grid-column-start: 1;
  grid-column-end: 3;
  height: 250px;
  padding: 10px;
  margin: 25px;
  background: rgba(255,255,255,0.5);
}

#whyGroups{
  grid-column-start: 3;
  grid-column-end: 6;
  height:250px;
  margin: 25px;
  padding: 10px;
  background: rgba(255,255,255,0.5);
  
}

.App{
  display: grid;
  grid-template: 1fr 15fr / 1fr 9fr;
}

#header{
  grid-area: 1 / 1 / 2 / 3;
  
}
#header-content{
  display: grid;
  grid-template: 1fr / 1fr ;
  font-weight: bold;
  
}

#sidenav{
  display:flex;
  flex-direction: column;
  height: fit-content;
  background: rgba(255,255,255,0.5);
  font-weight: bold;
  color: black;
}
#sidenav-item{
  font-size: 20px;
  font-weight: bold;
  color: black;
}

#groupContainer{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.groupCard{
  justify-content: center;
  align-items: center;
  width: 300px;
  max-height: 400px;
  margin: 10px;
  background: rgba(255,255,255,0.5);
}
.thumbnailCard{
  flex-direction: column;
  align-items:center;
  width: 250px;
  height: auto;
  
}

#login-signup-container{
  grid-area: 2/2/3/3;
  display: grid;
  justify-items: center;
}


.card {  
  border: none;
  box-shadow: 5px 6px 6px 2px #e9ecef;
  border-radius: 4px;
}

.groupPage{
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr ;
  height: 100px;
}

[data-initials]:before {
  background: #099bdd;
  color: white;
  opacity: 1; 
  content: attr(data-initials); 
  display: inline-block; 
  font-weight: bold; 
  border-radius: 50%; 
  vertical-align: middle; 
  margin-right: 0.5em; 
  width: 50px; 
  height: 50px; 
  line-height: 50px; 
  text-align: center; 
  }